APP_NAME=career-pilot-api
APP_ENV=development
DATABASE_URL=postgresql+asyncpg://career:career@localhost:5432/career_pilot
ALEMBIC_DATABASE_URL=postgresql+psycopg://career:career@localhost:5432/career_pilot
REDIS_URL=redis://localhost:6380/0
JWT_SECRET_KEY=replace-this-with-a-very-long-dev-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost:3000
